<div class="wrapper container col-sm-10 col-sm-offset-1">
  <div class="sqs-block-image">
    <h1 class="logo" data-content-field="site-title">
      <a href="/"><img src="//static1.squarespace.com/static/515897b7e4b0ec1768d9803e/t/55b6d569e4b0f338367c9c64/1468243462333/?format=1500w" alt="Hands Hooves Hearts Equine Massage Therapy"/></a>
    </h1>

  <div id="topNav"><br>
    <nav class="main-nav" data-content-field="navigation">
      <ul class="row">
        <li class="col-lg-1 col-xs-12">
          <a href="/massage/">Massage</a>
        </li>
        <li class="folder-collection folder col-lg-1 col-xs-12">
          <a aria-haspopup="true" href="#" onClick="return false;">Articles</a>
          <div class="subnav">
            <ul>
              <li class="external-link">
                <a href="/what-to-expect">What to Expect</a>
              </li>
              <li class="external-link">
                <a href="/faq">FAQ</a>
              </li>
              <li class="external-link">
                <a href="/primer">Primer</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="col-lg-1 col-xs-12">
          <a href="/about/">About</a>
        </li>
        <li class="col-lg-1 col-xs-12">
          <a href="/photos/">Photos</a>
        </li>
        <li class="col-lg-1 col-xs-12">
          <a href="/blog/">Blog</a>
        </li>
        <li class="col-lg-1 col-xs-12">
          <a href="/scheduling/">Scheduling</a>
        </li>
      </ul>
    </nav>
  </div><br><br>

  <img id="home-page-picture" src="http://static1.squarespace.com/static/515897b7e4b0ec1768d9803e/t/55c209bee4b0a73bde1ab550/1438779844025/"/>

    <div class="image-caption-wrapper">
      <div class="image-caption hide-caption"><p>Ten-day old "Mansfield's Grace" discovers the joys&nbsp;of massage</p></div>
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <p class="home-picture-comment">Hands Hooves Hearts provides massage and MagnaWave PEMF therapy for horses in Virginia and throughout the Northeast. Founded in 2010 by Equinology Equine Massage Therapist Sarah Gantsoudes, Hands Hooves Hearts helps horses achieve and maintain musculoskeletal soundness for a lifetime of wellness, vitality, and grace.</p>
      <hr>
    </div>
  </div>

  <div class="sqs-block-content">
    <center data-preserve-html-node="true">
      <h3>New to equine massage? <strong><a href="/faq">START HERE →</a></strong><br><br>
      </h3>
    </center>
  </div>

  <div class="col-xs-10 col-xs-offset-1 divider"></div>

  <footer id="footer">
    <div class="row">
      <div class="sqs-block search-block sqs-block-search col-xs-8 col-xs-offset-1" data-block-type="33" id="block-yui_3_17_2_3_1467677472258_31958">
        <div class="sqs-search-ui-text-input sqs-search-ui-button-wrapper color-dark">
          <input type="search" class="search-input" value="" placeholder="Search"/>
        </div>
      </div>
    </div>

    <!-- Footer links -->
    <div class="row">
      <div class="col-lg-3 col-lg-offset-1">
        <p>Details<br>
          <a href="/services">Services</a><br>
          <a href="/rates">Rates</a><br>
          <a href="/travel-policy">Travel</a><br>
          <a href="/what-to-expect">Preparation</a><br>
          <a href="/faq">FAQ</a>
        </p>
      </div>
      <div class="col-lg-3">
        <p>News<br>
          <a href="/blog">Blog</a>
        </p>
      </div>
      <div class="col -lg-3">
        <p>Support<br>
          <a href="/contact">Contact</a><br>
          <a href="/disclaimer">Discl
      </div>
    </div>
  </footer>
</div>
