.sqs-block-image img {
  width: 86%;
  margin-left: 7%;
}

#wrapper {
  border: 1px solid rgba(0,0,0,.1);
}

.main-nav li {
  font-family: 'Varela', sans-serif;
  line-height: 1.6em;
  font-size: 13px;
}

.home-page-picture {
  width: 30%;
}

#home-page-picture {
  width: 62%;
  padding-top: 25px;
  margin: auto;
}

#topNav nav ul li.folder-collection ul li a, #categoryNav nav ul li.folder-collection ul li a {
  font-family: 'Varela', sans-serif;
  line-height: 1.6em;
  font-size: 12px;
}

.image-caption {
  text-align: center;
  font-size: 1.3em;
}

.hide {
  display: none;
}
