<!DOCTYPE html>
<html>
<head>
  <title>Horses</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/515897b7e4b0ec1768d9803e/114/50521cf884aeb45fa5cfdb80/515e2436e4b0bca14d7a8a9a/882-05142015/1467890189213/site.css?&filterFeatures=false"/>
</head>
<body ng-app="app">

<%= yield %>

</body>
</html>
